<body>
  <div>
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <h3>Sa description</h3>
   <p> <%= @user.description %></p>
   <p> Son age : <%= @user.age %> </p>
   <p> Son mail : <%= @user.email %> </p>
   <p> Sa ville : <%= @user.city.name %> </p>
  </div>

</body>