
<body>
  <%= form_tag url_for(action: 'create'), method: "post" do %>

    <%= label_tag 'Title' %>
    <%= text_field_tag 'title', @gossip.title %>
    <br /> <br />

    <%= label_tag 'Body' %>
    <%= text_area_tag 'body', @gossip.content %>
    <br /> <br />

    <%= label_tag 'Author' %>
    <%= text_field_tag 'author', @gossip.user.first_name %>
    <br /> <br />

    <%= submit_tag "Create Post" %>

  <% end %>
</body>



