

<body>
  
  <div>
    <h3><%= @gossip.title %></h3>
    <p><%= User.find(@gossip.user_id).first_name %> de <a href="<%=city_path(@gossip.user.city_id)%>" > <%= User.find(@gossip.user_id).city.name %></a> nous dit :</p>
    <p><%= @gossip.content %><p>
    
    <p> <a href="<%= user_path(@gossip.user.id) %>" class="btn btn-primary">Afficher l'user</a>  </p>
    <p> <a href="<%= edit_gossip_path(@gossip.id) %>" class="btn btn-primary">Editer le gossip</a>  </p>
    <p> <a href="<%= gossip_path(@gossip.id) %>" class="btn btn-danger" data-confirm="Sur ??" data-method="delete" >Supprimer</a>  </p>
  </div>
  <br /> <br />
  
  
  
  
<%= form_with model:@comment, url:gossip_comments_path(@num), method: :post, local:true do |form| %>
    <div class = "form-group">
        <%= label_tag 'Rajoute un commentaire !' %>
        <%= form.text_field :content, class:'form-control'%>
    </div>
    <%= form.submit "Publie ton commentaire" %>
<%end%>
<% @all_comments.sort.each_with_index do |comment|%>
  <div class="card" style="width: 20rem;">
    <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
    <div class="card-body">
      <p class="card-text content"><%= comment.content%></p>

      <div class="auteur">by <%= User.find(comment.user_id).first_name %></div>
      <p> <a href="<%= edit_gossip_comment_path(comment.id) %>" class="btn btn-primary">Editer le commentaire</a>  </p>

    </div>
  </div>
    <% end %>